
raketka/.vs/ProgTest/v16/.suo
raketka/.vs/ProgTest/v16/Server/sqlite3/storage.ide
raketka/obj/Debug/ProgTest.Properties.Resources.resources
raketka/obj/Debug/ProgTest.pdb
raketka/obj/Debug/ProgTest.Form1.resources
raketka/obj/Debug/ProgTest.exe
raketka/obj/Debug/ProgTest.csprojAssemblyReference.cache
raketka/obj/Debug/ProgTest.csproj.GenerateResource.cache
raketka/obj/Debug/ProgTest.csproj.FileListAbsolute.txt
raketka/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
raketka/bin/Debug/ProgTest.pdb
raketka/bin/Debug/ProgTest.exe.config
raketka/bin/Debug/ProgTest.exe
raketka/.vs/ProgTest/v16/Server/sqlite3/storage.ide
raketka/.vs/ProgTest/v16/.suo
raketka/.vs/ProgTest/v16/.suo
raketka/.vs/ProgTest/v16/.suo
raketka/.vs/ProgTest/v16/Server/sqlite3/storage.ide
